**/bin
**/obj
**/.vs
**/.hg
**/packages
*.exe
*.dll
*.user 
**/Bin
*.resources.dll
*.vshost.exe.manifest
*.vshost.exe
*.suo
*.pdb
*.hgignore
**/ScriptDocs
**/DocFx
*.editorconfig
/WebDesk/WebDesk.xml
/WebDesk.Lib/WebDesk.Lib.xml
